// Colours

$dd-teal: #329c9d !default;
$dd-magenta: #ef3c6a !default;

$dd-header-background: #f1f1f1 !default;
$dd-header-border: darken($dd-header-background, 10%) !default;

$btn-dd-teal-color:    #fff !default;
$btn-dd-teal-bg:       $dd-teal !default;
$btn-dd-teal-border:   $dd-teal !default;

$btn-dd-magenta-color:    #fff !default;
$btn-dd-magenta-bg:       $dd-magenta !default;
$btn-dd-magenta-border:   $dd-magenta !default;

// Brand Colours

$brand-twitter: 	#55acee !default;
$brand-facebook:  #3b5998 !default;
$brand-linkedin: 	#0077b5 !default;
